body{background-image: url("../images/filmcurtainbackground.png");
  background-attachment: fixed;
  background-repeat: repeat-x;
}

.container{width: 980px;
    background-color: #313131;
    margin: 0 auto;
}

header{background-color: #313131;
    border: 1px #313131;
}

footer{background-color: #fbba00;
    border: 1px #313131;
    padding: 6px 0;
    width: 960px;
    color: black;
}

div.content{background-color: #313131;
    padding: 10px;
}

h1{background-color: #313131;
  color: #fbba00;
  font-size: 45px;
  text-align: center;
}

h2{background-color: #313131;
  color: #fbba00;
  font-size: 30px;
  text-align: center;
}

h3{background-color: #313131;
  color: #fbba00;
  font-size: 22px;
  text-align: center;
}

p{font-family: Georgia;
  color: #EAEAEA;
  font-size: 18px;
  text-align: center;
}

table {
  font-family: Georgia;
  color: #EAEAEA;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #a11733;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #a11733;
}

ol {
  font-family: Georgia;
  color: #EAEAEA;
}

ul {
  font-family: Georgia;
  color: #EAEAEA;
}

a:link{color:#EAEAEA;
}

a:visited{color:#EAEAEA;
}

a:hover{color:#EAEAEA;
}

a:active{color:#EAEAEA;
}

.btn {
  background: #fd2f24;
  background-image: -webkit-linear-gradient(top, #fd2f24, #000000);
  background-image: -moz-linear-gradient(top, #fd2f24, #000000);
  background-image: -ms-linear-gradient(top, #fd2f24, #000000);
  background-image: -o-linear-gradient(top, #fd2f24, #000000);
  background-image: linear-gradient(to bottom, #fd2f24, #000000);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 15px;
  text-decoration: none;
  width:16%;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #fd2f24);
  background-image: -moz-linear-gradient(top, #000000, #fd2f24);
  background-image: -ms-linear-gradient(top, #000000, #fd2f24);
  background-image: -o-linear-gradient(top, #000000, #fd2f24);
  background-image: linear-gradient(to bottom, #000000, #fd2f24);
  text-decoration: none;
}